<div class="big-container">
<<<<<<< HEAD
    <a href="/"><i id="imagelogo" class="fas fa-plane-departure"></i></a>
    <h2 class="logo-item">Fly With Me</h2>
=======
    <a id="navA" href="/"><i id="imagelogo" class="fas fa-plane-departure"></i></a>
    <h2 class="logo-item">Fly to me</h2>
>>>>>>> 5a31f96eaa98bdd563e3a1f5b6527f042159fd2b
    <ul class="small-container">
        <li class="nav-item">
            <a id="navA" href="/about">About us</a>
        </li>
        <li class="nav-item">
            <a id="navA" href="/signin/user">Sign in</a>
        </li>
        <li class="nav-item">
            <a id="navA" href="/signup/user">Sign up</a>
        </li>
        {{#if isLoggedIn}}
        <li class="nav-item">
            <a id="navA" href="/search">Search for a flight</a>
        </li>
        <li class="nav-item">
            <a id="navA" href="/manage">Manage a flight</a>
        </li>
        {{/if}}
        {{#if isLoggedIn}}
        <a id="navA" href="/logout" class="nav-item">
            <span class="btn-text">Log out</span>
        </a>
        {{/if}}
    </ul>
</div>
<hr>