<div id="nav-container">
    <div id="logo">
        <a class="logo" href="/"><i id="imagelogo" class="fas fa-plane-departure"></i></a>
        <h2 class="logo-item"><a href="/">Fly with me</a> </h2>
    </div>

    <div id="nav">
        <ul class="Nav">
            {{#unless isLoggedIn}}
            <li>
                <p><a class="navToggle" href="#">Passenger</a> </p>
                <div>
                    <a class="sign" href="/signin/user">Sign in</a> <a class="sign" href="/signup/user">Sign up</a>
                </div>
            </li>
            {{/unless}}
            {{#unless isLoggedIn}}
            <li>
                <p><a class="navToggle" href="#">Pilot</a></p>
                <div>
                    <a class="sign" href="/signin/user">Sign in</a> <a class="sign" href="/signup/pilot">Sign up</a>
                </div>
            </li>
            {{/unless}}
        </ul>
        {{#if isLoggedIn}}
        {{#unless isPilotUser}}
        <li class="nav-item">
            <a id="navA" href="/search/flights">Search for a flight</a>
        </li>
        <li class="nav-item">
            <a id="navA" href="/profilUser/profil">Profil</a>
        </li>
        {{/unless}}
        {{/if}}
        {{#if isPilotUser}}
        <li class="nav-item">
            <a id="navA" href="/travel/add">Add a flight</a>
        </li>
        <li class="nav-item">
            <a id="navA" href="/profilPilot/profil">Profil</a>
        </li>
        {{/if}}
        {{#if isLoggedIn}}
        <a id="navA" href="/logout" class="nav-item">
            <span class="btn-text">Log out</span>
        </a>
        {{/if}}
        </ul>
    </div>
</div>
<hr>