<div class="big-container">
    <div id="logo">
        <a class="logo" href="/"><i id="imagelogo" class="fas fa-plane-departure"></i></a>
        <h2 class="logo-item">Fly with me</h2>
    </div>

    <div id="nav">

        {{!-- <ul class="small-container">
            <li class="nav-item">
            <a id="about" href="/about">About us</a>
        </li>
        <li class="nav-item">
            <a id="navA" href="/signin/user">SI pa</a>
            <a id="navA" href="/signup/user">SU pa</a>
        </li>
        <li class="nav-item">
            <a id="navA" href="/signin/pilot">SI pi</a>
            <a id="navA" href="/signup/pilot">SU pi</a>
        </li> --}}
            <div id="about">About</div>
            <ul class="Nav">

                <li>
                    <p><a href="#">Passenger</a> </p>
                    <div>
                        <a href="/signin/user">Sign in</a> <a href="/signup/user">Sign up</a>
                    </div>

                </li>

                  <li>
                    <p><a href="#">Pilot</a></p>
                    <div>
                        <a href="/signin/pilot">Sign in</a> <a href="/signup/pilot">Sign up</a>
                    </div>

                </li>
                

            </ul>






            {{!-- {{#if isLoggedIn}}
        <li class="nav-item">
            <a id="navA" href="/search">Search for a flight</a>
        </li>
        <li class="nav-item">
            <a id="navA" href="/manage">Manage a flight</a>
        </li>
        {{/if}} --}}
        {{#if isLoggedIn}}
        <a id="navA" href="/logout" class="nav-item">
            <span class="btn-text">Log out</span>
        </a>
        {{/if}}
        </ul>
    </div>
</div>
<hr>