<section id="travel" class="ui middle aligned center aligned grid fields">
    <form action="/travel/add" method="post">
        <div class="ui form">
            <div class="fields">
                <div class="six wide field">
                    <label for="departure">departure</label>
                    <input id="Departure" name="Departure" type="text" placeholder="airfield">
                </div>
                <div class="six wide field">
                    <label>destination</label>
                    <input name="Destination" type="text" placeholder="airfield">
                </div>
                <div class="four wide field">
                    <label>time of departure</label>
                    <input name="departureTime" min={{minDate}} type="datetime-local" placeholder="" value={{setDate}}>
                </div>
                <div class="four wide field">
                    <label>time of arrival</label>
                     <input name="arrivalTime" min={{minDate}} type="datetime-local" placeholder="" value={{setDate}}>
                </div>
            </div>

            <div class="fields">
                <div class="seven wide field" id="test">
                    <label for="aircaft">aircaft</label>
                    {{!-- <input name="aircraft" type="text" placeholder="12 Wide"> --}}
                    <select id="air-craft" class="ui dropdown" name="Aircraft">
                        <option value="-1"  selected disabled> Aircraft</option>
                        <option value="C172">C172</option>
                        <option value="C182">C182</option>
                        <option value="DR400">DR400</option>
                    </select>
                </div>

                <div class="two wide field">
                    <label for="immatriculation">Immatriculation</label>
                    <input name="immatriculation" type="text" placeholder="F-XXXX">
                </div>
                <div class="seven wide field">
                    <label for="image" >Image</label>
                    <input id="image" name="image" type="file" >

                </div>
            </div>
            <div class="fields">
                <div class="six wide field">
                    <label for="numberOfSeats">Number fo seats</label>
                    <input name="numberOfSeats" type="number" placeholder="">
                </div>
                <div class="six wide field">
                    <label for="availableSeats">available seats</label>
                    <input name="availableSeats" type="number" placeholder="">
                </div>
                <div class="four wide field">
                    <label for="Price">Price</label>
                    <input name="Price" type="text" placeholder="€">
                </div>
            </div>

                

            <div class="field">
                <div class="sixteen wide field"></div>
                <label>Description</label>
                <textarea name="Description"></textarea>
            </div>
        </div>

        </div>

        <div class="column">
            <div class="ui icon header">
                <i class="plane icon"></i>
            </div>
            <div>
                <button id="createBtn" class="ui primary button" > Create</button>
            </div>
        </div>



    </form>
</section>