<section id="travel">
    <form action="" method="post">
        <label for="departure">departure</label>
        <input id="departure" type="text" name="Departure">
        <label for="destination">destination</label>
        <input type="text" id="destination" name="Destination">
        <label for="departureTime">time of departure</label>
        <input type="datetime-local" name="departureTime" id="departureTime">
        <label for="arrivalTime">time fo arrival</label>
        <input type="datetime-local" name="arrivalTime" id="arrivalTime">

        <label for="date">time fo arrival</label>
        <input type="date" name="Date" id="date">
        <label for="numberOfSeats">num of seats</label>
        <input type="number" name="numberOfSeats" id="numberOfSeats">
        <label for="availableSteas">available steas</label>
        <input type="number" name="availableSeats" id="availableSeats">
        <label for="price">Price</label>
        <input type="number" name="price" id="price">
    </form>
</section>