<div id="fullpage">
</div>
<section data-aos="fade-up" id="bloc1" class="section s1">
    <h1 data-aos="fade-up" id="title1">Experience private flights with local pilots</h1>
    <h2 data-aos="fade-up" id="title2">Find a Flight near you !</h2>

    {{!-- <div class="ui fluid category search">
        <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Where from?" name="departure" id="departure" type="search">
            <i class="search icon"></i>
        </div>
        <div class="results"></div>
    </div>
    <div class="ui fluid category search">
        <div class="ui icon input">
            <input class="prompt" type="text" placeholder="When?" name="when" id="when" type="search">
            <i class="search icon"></i>
        </div>
        <div class="results"></div>
    </div>
    <select aria-label="Passengers">
        <option value="" disabled="disabled">
            Passengers
        </option>
        <option value="1">
            1 Passenger
        </option>
        <option value="2">
            2 Passengers
        </option>
        <option value="3">
            3 Passengers
        </option>
        <option value="4">
            4 Passengers
        </option>
        <option value="5">
            5 Passengers
        </option>
    </select>
    <button class="ui primary button" type="submit" aria-label="Search">
        Search
    </button> --}}

    <div class="app">
        {{!-- <div class="wrapper"> --}}
            {{!-- <div class="card">
                <header class="card__header"> --}}
                    <div class="card__form">
                        <select class="card__select" name="region" id="reg">
                            <option value="region">Region</option>
                            <option value="Northeast">Northeast</option>
                            <option value="Southwest">Southwest</option>
                            <option value="West">West</option>
                            <option value="Southeast">Southeast</option>
                            <option value="Midwest">Midwest</option>
                        </select>
                        <select class="card__select" name="city" id="ct">
                            <option value="city">City</option>
                            <option value="newyork">NewYork</option>
                            <option value="sanfrancisco">San Francisco</option>
                            <option value="washington">Washington</option>
                            <option value="miami">Miami</option>
                            <option value="minneapolis">Minneapolis</option>
                        </select>
                        <div>
                            <a href="#" class="card__btn">Find</a>
                        </div>
                    </div>
                {{!-- </header>
            </div> --}}
        {{!-- </div> --}}
    </div>

</section>

<div data-aos="fade-up" id="hpblocs" class="b1">
    <h1 data-aos="fade-up" id="hbloc2">Fly With Me, THE flight sharing platform</h1>
    <p data-aos="fade-up" id="pbloc2">Private aviation has never been so accessible.
        Take off for a sightseeing flight or an excursion trip with a local pilot and discover Europe from the air.
    </p>
</div>

<div data-aos="fade-up" id="mainBloc">
    <div id="flexbloc1" class="ui horizontal list">
        <div id="flexchild" class="item flexbloc-child">
            <i class="fas fa-piggy-bank fa-5x"></i>
            <div data-aos="fade-up" class="header">Great value</div>
            <p id="pbloc2">Our goal is to democratise light aviation. Discover this wonderful world
                at a reduces
                cost.
            </p>
        </div>
        <div id="flexchild" data-aos="fade-up" class="item flexbloc-child">
            <i class="fas fa-flag fa-5x"></i>
            <div data-aos="fade-up" class="header">Unique experiences</div>
            <p id="pbloc2">Choose your departure city and book. If you don't flight that suits you,
                request your
                dream
                flight and pilots will get back to you</p>
        </div>
    </div>

    <div data-aos="fade-up" id="flexbloc2" class="ui horizontal list">
        <div id="flexchild" data-aos="fade-up" class="item flexbloc-child">
            <i class="fas fa-hourglass-start fa-5x"></i>
            <div data-aos="fade-up" class="header">Adventure awaits you</div>
            <p id="pbloc2">Whether it is for a scenic flight or an excursion, one thing is sure, you
                are
                going to have an amazing adventure.</p>
        </div>
        <div id="flexchild" data-aos="fade-up" class="item flexbloc-child">
            <i class="fas fa-plane fa-5x"></i>
            <div data-aos="fade-up" class="header">Discover the world from above</div>
            <p id="pbloc2">Discover the world from the sky and what if flying becomes your new
                passion?</p>
        </div>
    </div>
</div>

<div class="b3">
    <h1 data-aos="fade-up" id="hbloc2">Private aviation for everyone !</h1>
    <div data-aos="fade-up" id="column" class="ui segment">
        <div class="ui two column very relaxed grid">
            <div class="column">
                <p id="bloc2p">PASSENGERS</p>
                <p>Travel faster, But not more expensive
                    Each user can book a seat on the flight sharing and thus share the flight expenses with the
                    pilot.
                </p>
                <div data-aos="fade-up" class="ui primary button">
                    <a id="boutton1" href="/signup/user">Search for a flight</a>
                </div>
            </div>
            <div data-aos="fade-up" class="column">
                <p id="bloc2p">PILOT</p>
                <p>Share your flight expenses
                    The pilots can post a flight sharing and thus propose the empty seats of their aircraft on
                    Coavmi
                    platform.</p>
                <div data-aos="fade-up" class="ui primary button">
                    <a id="boutton2" href="/signup/pilot">Add a flight</a>
                </div>
            </div>
        </div>
        <div data-aos="fade-up" class="ui vertical divider">
            and
        </div>
    </div>
</div>


<section data-aos="fade-up" id="bloc4" class="section s4">
    <h1 data-aos="fade-up" id="hbloc2">They love Fly With Me</h1>
    <div data-aos="fade-up" id="temoignage">
        <p data-aos="fade-up" id="ptemoignage">“We had a fantastic time on our trip and our pilot was brilliant. He took
            the time
            to
            explain everything
            and
            made us feel very safe and secure. We would definitely recommend Fly With Me to our family and
            friends,
            it’s a
            great experience.”
            <br><br>
            Marie</p>
        <img data-aos="fade-up" id="phototemoignage" src="/images/temoignages.jpg" alt="image-témoignages">
    </div>
</section>

<section data-aos="fade-up" id="bloc5" class="b5">
    <h1 classe="titrefin" data-aos="fade-up" id="hbloc2">Trusted by many flight and adventure enthusiasts</h1>
    <div data-aos="fade-up" id="bloc5flex" class="ui statistics">
        <div class="statistic">
            <div class="value">
                <i data-aos="fade-up" class="thumbs up icon"></i> 3 000
            </div>
            <div class="label">
                Signups
            </div>
        </div>
        <div class="statistic">
            <div class="value">
                <i data-aos="fade-up" class="plane icon"></i> 50 000
            </div>
            <div class="label">
                Flights
            </div>
        </div>
        <div class="statistic">
            <div class="value">
                <i data-aos="fade-up" class="address book icon"></i> 500
            </div>
            <div class="label">
                Team Members
            </div>
        </div>
    </div>
</section>

<footer data-aos="fade-up">
    A beautiful project realized with love by 3 passionate web developers!
    <ul>
        <li id="end"><a href="https://www.linkedin.com/in/fabien-marchand/">Fabien Marchand</a>
        </li>
        <li id="end"><a href="https://www.linkedin.com/in/rabeson-frederico-ratsimandresy">Frederico
                Ratsimandresy</a></li>
        <li id="end"><a href="https://www.linkedin.com/in/raphaelle-olivo-7ab4b8107/">Raphaëlle
                Olivo</a></li>
    </ul>
</footer>
</div>