<div data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0" data-aos-delay="0" cz-shortcut-listen="true"
    id="fullpage">
</div>
<section id="bloc1" class="section s1">
    <h1 id="title1">Experience private flights with local pilots</h1>
    <h2 id="title2">Find a Flight near you !</h2>
    <div class="ui fluid category search">
        <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Where from?" name="departure" id="departure" type="search">
            <i class="search icon"></i>
        </div>
        <div class="results"></div>
    </div>
    <div class="ui fluid category search">
        <div class="ui icon input">
            <input class="prompt" type="text" placeholder="When?" name="when" id="when" type="search">
            <i class="search icon"></i>
        </div>
        <div class="results"></div>
    </div>
    <select aria-label="Passengers">
        <option value="" disabled="disabled">
            Passengers
        </option>
        <option value="1">
            1 Passenger
        </option>
        <option value="2">
            2 Passengers
        </option>
        <option value="3">
            3 Passengers
        </option>
        <option value="4">
            4 Passengers
        </option>
        <option value="5">
            5 Passengers
        </option>
    </select>
    <button class="ui primary button" type="submit" aria-label="Search">
        Search
    </button>
</section>
<div id="hpblocs">
    <h1 id="hbloc2">Fly With Me, THE flight sharing platform</h1>
    <p id="pbloc2">Private aviation has never been so accessible.
        Take off for a sightseeing flight or an excursion trip with a local pilot and discover Europe from the air.
    </p>
</div>

<div id="mainBloc">
    <div id="flexbloc1" class="ui horizontal list">
        <div class="item">
            <i class="fas fa-piggy-bank fa-5x"></i>
            <div class="header">Great value</div>
            <p id="pbloc2">Our goal is to democratise light aviation. Discover this wonderful world at a reduces
                cost.
            </p>
        </div>
        <div class="item">
            <i class="fas fa-flag fa-5x"></i>
            <div class="header">Unique experiences</div>
            <p id="pbloc2">Choose your departure city and book. If you don't flight that suits you, request your
                dream
                flight and pilots will get back to you</p>
        </div>
    </div>

    <div id="flexbloc2" class="ui horizontal list">
        <div class="item">
            <i class="fas fa-hourglass-start fa-5x"></i>
            <div class="header">Adventure awaits you</div>
            <p id="pbloc2">Whether it is for a scenic flight or an excursion, one thing is sure, you are
                going to have an amazing adventure.</p>
        </div>
        <div class="item">
            <i class="fas fa-plane fa-5x"></i>
            <div class="header">Discover the world from above</div>
            <p id="pbloc2">Discover the world from the sky and what if flying becomes your new
                passion?</p>
        </div>
    </div>
</div>

<h1 id="hbloc2">Private aviation for everyone !</h1>
<div id="column" class="ui segment">
    <div class="ui two column very relaxed grid">
        <div class="column">
            <p id="bloc2p">PASSENGERS</p>
            <p>Travel faster, But not more expensive
                Each user can book a seat on the flight sharing and thus share the flight expenses with the
                pilot.
            </p>
            <div class="ui primary button">
                <a id="boutton1" href="/signup/user">Search for a flight</a>
            </div>
        </div>
        <div class="column">
            <p id="bloc2p">PILOT</p>
            <p>Share your flight expenses
                The pilots can post a flight sharing and thus propose the empty seats of their aircraft on
                Coavmi
                platform.</p>
            <div class="ui primary button">
                <a id="boutton2" href="/signup/pilot">Add a flight</a>
            </div>
        </div>
    </div>
    <div class="ui vertical divider">
        and
    </div>
</div>


<section id="bloc4" class="section s4">
    <h1 id="hbloc2">They love Fly With Me</h1>
    <div id="temoignage">
        <p id="ptemoignage">“We had a fantastic time on our trip and our pilot was brilliant. He took the time
            to
            explain everything
            and
            made us feel very safe and secure. We would definitely recommend Fly With Me to our family and
            friends,
            it’s a
            great experience.”
            <br><br>
            Marie</p>
        <img id="phototemoignage" src="/images/temoignages.jpg" alt="image-témoignages">
    </div>
</section>

<section id="bloc5" class="section s5">
    <h1 id="hbloc2">Trusted by many flight and adventure enthusiasts</h1>
    <div id="bloc5flex" class="ui statistics">
        <div class="statistic">
            <div class="value">
                <i class="thumbs up icon"></i> 3 000
            </div>
            <div class="label">
                Signups
            </div>
        </div>
        <div class="statistic">
            <div class="value">
                <i class="plane icon"></i> 50 000
            </div>
            <div class="label">
                Flights
            </div>
        </div>
        <div class="statistic">
            <div class="value">
                <i class="address book icon"></i> 500
            </div>
            <div class="label">
                Team Members
            </div>
        </div>
    </div>
</section>

<footer>
    A beautiful project realized with love by 3 passionate web developers!
    <ul>
        <li id="end"><a href="https://www.linkedin.com/in/fabien-marchand/">Fabien Marchand</a></li>
        <li id="end"><a href="https://www.linkedin.com/in/rabeson-frederico-ratsimandresy">Frederico
                Ratsimandresy</a></li>
        <li id="end"><a href="https://www.linkedin.com/in/raphaelle-olivo-7ab4b8107/">Raphaëlle Olivo</a></li>
    </ul>
</footer>
</div>