
<div id="fullpage">
    <section id="bloc1" class="section s1">
        <h1>search bar</h1>
        <h1 id="title1">Experience private flights with local pilots</h1>
        <h2 id="title2">Find a Flight near you !</h2>
        <h3>{{isLoggedIn}}</h3>
    </section>
    <section class="section s2">
        <h1>about</h1>
    </section>
    <section class="section s3">
        <h1>how it works</h1>
    </section>
</div>