<section style="margin-top: 8vh;">
    <form class="ui form" method="POST" action="/profiluserEdit/{{user._id}}">
        <h4 class="ui dividing header">User Information</h4>
        <div class="field">
            <label>Name</label>
            <div class="two fields">
                <div class="field">
                    <input type="text" name="name" placeholder="First Name" value="{{user.name}}">
                </div>
                <div class="field">
                    <input type="text" name="lastname" placeholder="Last Name" value="{{user.lastname}}">
                </div>
            </div>
            <label>Email</label>
            <div class="field">
                <input type="text" name="email" type="text" placeholder="raph.albert@gmail.com" value="
                    {{user.email}}">
            </div>
        </div>
        <button class="ui button active">Edit info</button>
    </form>
</section>