<section id="search">
    <div class="ui middle search-input">
        <form action="/search/flights" method="get">
            <div class="ui action input">
                {{!-- <input type="text" placeholder="Search..."> --}}
                <button class="ui button">Show all flights</button>
            </div>
        </form>
    </div>
    <div id="all-flights">
        {{> allFlights flights}}
    </div>
</section>