.big-container {
  height: 7vh;
  display: flex;
  background-color: rgb(199, 217, 231);
  color: rgb(48, 124, 160);
  font-weight: bold;
  position: fixed;
}

.small-container {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.nav-item {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

#navA {
  list-style-type: none;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: rgb(78, 147, 168);
  
}

.logo-item {
  width: -webkit-fill-available;
  padding: 20px;
  width: 200px;
}

#logo {
  padding-bottom: 20px;
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#big-container .logo {
  display: block;
}

#imagelogo {
  padding-top: 30px;
  padding-left: 60px;
  width: 20%;
}
