<section id="section-signup-pilot">
  <header class="form-header">
    <h1 class="form-title">Start your Flight journey</h1>
    <p class="form-subtitle">Enjoy yourself and be comfortable </p>
  </header>
  {{#if msg}}
  <p class="message {{msg.status}}">{{msg.text}}</p>
  {{/if}}
  <form method="post" action="/signin/pilot" method="post" id="form_pilot">
    
    <div class="form-item-wrapper flexed-item">
      <label for="email" class="label-ref label">Email</label>
      <input id="email" type="email" class="input-text input" placeholder="albert.biceps@gmail.com" name="email"
        required value="yo@gui.com">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="password" class="label-ref label">Password</label>
      <input id="password" type="password" class="input-text input" placeholder="••••••" name="password" required
        value="1234">
    </div>
    <button class="button-primary white">Sign in</button>
  </form>
 </section>